### Java
# Compiled class file
*.class
!DiffImpl.class

# Log file
*.log

# Package Files
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

### Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties


### Intellij
.idea
.idea/.name
.idea/checkstyle-idea.xml
.idea/encodings.xml
.idea/misc.xml
.idea/qaplug_profiles.xml
.idea/sonarlint/
.idea/workspace.xml
out/
.iml

### Custom
lib
decompiler-cmp.iml
decompilercmp.iml

### R
*.Rproj
*.nb.html
.Rproj.user/
.Rhistory
.Rapp.history
.RData
notebooks/data
notebooks/figures
